<div class="dim-form">
    <div class="param-line">
        <label for="height">Height: </label>
        <input type= "number" id="heightFeet" name="heightFeet" [(ngModel)]='heightFeet' onKeyDown="return false"/> '
        <input type= "number" id="heightInches" name="heightInches" [(ngModel)]='heightInches' onKeyDown="return false"/> "
    </div><br>
    <div class="param-line">
        <label for="radius">Radius: </label>
        <input type= "number" id="radius" name="radiusFeet" [(ngModel)]='radiusFeet' onKeyDown="return false"/> '
        <input type= "number" id="radius" name="radiusInches" [(ngModel)]='radiusInches' onKeyDown="return false"/> "
    </div><br>
    <div class="param-line">
        <label for="flatLength">Flat Length: </label>
        <input type= "number" id="flatLength" name="flatLengthFeet" [(ngModel)]='flatLengthFeet' onKeyDown="return false"/> '
        <input type= "number" id="flatLength" name="flatLengthInches" [(ngModel)]='flatLengthInches' onKeyDown="return false"/> "
    </div><br>
    <div class="param-line">
        <label for="deckLength">Deck Length: </label>
        <input type= "number" id="deckLength" name="deckLengthFeet" [(ngModel)]='deckLengthFeet' onKeyDown="return false"/> '
        <input type= "number" id="deckLength" name="deckLengthInches" [(ngModel)]='deckLengthInches' onKeyDown="return false"/> "
    </div><br>
</div>