<p>ramp-builder works!</p>
<form>
    <label for="height">Height: </label>
    <input type="text" type= "number" id="height" name="height" [(ngModel)]='height'/><br>
    <label for="radius">Radius: </label>
    <input type="text" type= "number" id="radius" name="radius" [(ngModel)]='radius'/><br>
    <label for="flatLength">Flat Length: </label>
    <input type="text" type= "number" id="flatLength" name="flatLength" [(ngModel)]='flatLength'/><br>
    <label for="deckLength">Deck Length: </label>
    <input type="text" type= "number" id="deckLength" name="deckLength" [(ngModel)]='deckLength'/><br>
</form>




<canvas width="600px" height="400px" style="border: 1px solid black;" id="canvas"></canvas>