

<div class = "params-menu">
     <div class = "units-menu">
          <input type="radio" id="english" [(ngModel)] = "units"
          name="units" value="english" checked="checked">
          <label for="english">English</label>
          <input type="radio" id="metric" [(ngModel)] = "units"
               name="units" value="metric">
          <label for="metric">Metric</label>
     </div><br>

     <sp-ramp-form-english *ngIf ="units == 'english'"
     (messageEvent)=measurementsSet($event) [measurements] = "measurements" class="measurements-menu"></sp-ramp-form-english>

     <sp-ramp-form-metric *ngIf ="units == 'metric'"
     (messageEvent)=measurementsSet($event) [measurements] = "measurements"></sp-ramp-form-metric> 
</div>





<canvas width="600px" height="450px" id="canvas" class="canvas"></canvas>