<div class="form align-items-center">
    <div class="param-line">
        <label for="height">Height: </label>
        <input type= "number" id="heightFeet" name="heightFeet" [(ngModel)]='heightMeters' onKeyDown="return false"/> m
        <input type= "number" id="heightInches" name="heightInches" [(ngModel)]='heightCentimeters' onKeyDown="return false"/> cm
    </div><br>
    <div class="param-line">
        <label for="radius">Radius: </label>
        <input type= "number" id="radius" name="radiusFeet" [(ngModel)]='radiusMeters' onKeyDown="return false"/> m
        <input type= "number" id="radius" name="radiusInches" [(ngModel)]='radiusCentimeters' onKeyDown="return false"/> cm
    </div><br>
    <div class="param-line">
        <label for="flatLength">Flat Length: </label>
        <input type= "number" id="flatLength" name="flatLengthFeet" [(ngModel)]='flatLengthMeters' onKeyDown="return false"/> m
        <input type= "number" id="flatLength" name="flatLengthInches" [(ngModel)]='flatLengthCentimeters' onKeyDown="return false"/> cm
    </div><br>
    <div class="param-line">
        <label for="deckLength">Deck Length: </label>
        <input type= "number" id="deckLength" name="deckLengthFeet" [(ngModel)]='deckLengthMeters' onKeyDown="return false"/> m
        <input type= "number" id="deckLength" name="deckLengthInches" [(ngModel)]='deckLengthCentimeters' onKeyDown="return false"/> cm
    </div><br>
    
    
    
    
</div>